:root {
    --bg-color: white;
    --text-color: black;
}

.dark-mode {
    --bg-color: black;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.reviews-container {
    margin-bottom: 40px;
}